[submodule "modules/ProkModularCore"]
	path = modules/ProkModularCore
	url = git@github.com:Normalised/ProkModularCore.git
[submodule "modules/controlp5"]
	path = modules/controlp5
	url = git@github.com:Normalised/controlp5.git
